@font-face {
    font-family: "AvengerFont";
    src: url(./AVENGEANCEHEROICAVENGER.ttf);
}

body{
    font-family: "AvengerFont";
    background-image: url(../images/SpaceBackground.jpg);
    background-size: cover;
    line-height:1.5;
    letter-spacing: 1.2px;
}

.GetThisBanner{
    padding-top: 20px;
    padding-left: 0px;
    
}

.GetThisText,
.YourNumText{
    text-align: center;
    font-size: 26px;
}

.GetThisCard,
.YourNumCard{
    padding: 30px;
    background-color: #FFF6F5;
    color: #1F1362;
}

.scorecard{
    background-color: #1F1362;
    color: #FFF6F5;
    opacity: 0.8;
}

.YourNumBanner{
    padding-top: 10px;
    padding-right: 0px;
    margin-bottom: 20px;
}

.instructionsCard{
    opacity: 0.5;
    padding-left: 50px;
    margin-bottom: 30px;
}

img{
    height: 100px;
    margin: 0 auto;
    box-shadow: 0 0 25px 6px #88895A;
    border-radius: 100%;
    
}

.stoneRow{
    margin-top: 200px;
}